{% extends "Marketplace/layout.html" %}

{% block title %} Catalog {% endblock %}

{% block body %}

    <h1>Catalog</h1>
    <br>
    {% for product in products %}
    <div class="card text-center" style="width:50%; margin:auto">
        <div class="card-body">
            <a href="{% url 'product' product.id %}" >
                    <img src="/Marketplace{{product.image.url}}" class="card-img-top" style="width:300px" alt="product pic">
            <a/>
            <br>
            <a href="{% url 'product' product.id %}" >{{product.id}}.{{product.name.capitalize}}</a>
            <br>
            <h5 class="card-title">Price is {{product.price}} L.E.</h5>
            <p> {{product.description}} </p>
            <a href="##Add to cart##" class="btn btn-primary">Add to cart</a>
        </div>
        <div class="card-footer text-muted"> Sold by: {{product.seller}} </div>
    </div>
    <br>

    {% endfor %}

{% endblock %}
