{% extends "Marketplace/layout.html" %}

{% block title %} {{product.name.capitalize}} {% endblock %}

{% block body %}
<div class="b" style="margin:auto; max-width:50%">
    <h1>{{product.name.capitalize}}</h1>
    <br>
    <div class="card text-center">
        <div class="card-body">
            <img src="/Marketplace{{product.image.url}}" class="card-img-top" style="width:300px" alt="product pic">
            <br>
            <a href="{% url 'product' product.id %}" >{{product.id}}.{{product.name.capitalize}}</a>
            <br>
            <h2 class="card-title">Price is {{product.price}}L.E.</h2>
            <p> {{product.description}} </p>
            <form action="{% url 'cart' %}" Method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                            <input  class="form-control" style="max-width:40%;margin-left:65%; margin-right:0px" type="number" name="quantity" placeholder="Enter quantity">
                    </div>
                    <div class="col">
                        <input class="btn btn-primary" style="margin-right:65%;" type="submit" value="Add to cart">
                    </div>
                </div>
                <br>
            </form>
        </div>
        <div class="card-footer text-muted">
            <p>Sold by: {{product.seller}}</p>
        </div>
    </div>
    <br><br><br>


    <h1>Reviews:</h1>
    {% if reviews %}
    {% for review in reviews %}
    <br>
    <div class="card border-dark mb-3">
        <div class="card-body">
            <p class="card-text">A user gave {{product.name}} a rating of {{review.review}} out of five stars.</p>
        </div>
    </div>
    {% endfor %}
    <form Method="post">
        {% csrf_token %}
        <h3>What do you think?</h3>
        <div class="form-group">
            <input class="form-control" type="text" name="review" placeholder="Enter your review here:">
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <br><br><br>
    {% else %}
        <form Method="post">
            {% csrf_token %}
            <h3>No reviews, add yours:</h3>
            <div class="form-group">
                <input class="form-control" type="text" name="review" placeholder="Enter your review here:">
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        <br><br><br>
    {% endif %}

    <h1>Similar products:</h1>
    {% for product in similar_products %}
        <br>
        <div class="card text-center">
            <div class="card-body">
                <a href="{% url 'product' product.id %}">
                    <img src="/Marketplace{{product.image.url}}" class="card-img-top" style="width:300px" alt="product pic">
                </a>
                <br>
                <a href="{% url 'product' product.id %}" >{{product.id}}.{{product.name.capitalize}}</a>
                <br>
                <h5 class="card-title">Price is {{product.price}} L.E.</h5>
                <p> {{product.description}} </p>
                <a href="##Add to cart##" class="btn btn-primary">Add to cart</a>
            </div>
            <div class="card-footer text-muted">
                <p>Sold by: {{product.seller}}</p>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
