{% extends "Marketplace/layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}
<div class="b" style="margin:auto; max-width:50%">
    <h2>Register</h2>

    <form action="{% url 'register' %}" method="post" style="margin:auto">
        {% csrf_token %}
        <table style="padding:15px">
                <tr>
                    <td class="thick"><label>Email</label></td>
                    <td class="thick"><input type="email" name="email"></td>
                </tr>
                {{ form.as_table }}
                <tr>
                    <td class="thick"><label>Credit card</label></td>
                    <td class="thick"><input type="number" name="credit_card_number"></td>
                </tr>
                <tr>
                    <td class="thick"><label>Address</label></td>
                    <td class="thick"><input type="text" name="address"></td>
                </tr>
        </table>
        <br>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="usertype" id="customercheck" value="option1" checked>
            <label class="form-check-label" for="customercheck">
                Register as a customer
            </label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="usertype" id="sellercheck" value="option2">
            <label class="form-check-label" for="sellercheck">
                Register as a Seller
            </label>
        </div>
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}